<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 <link rel="stylesheet" href="/css/style2.css" />
  <title>Title</title>
  <style>
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }

    h2 {
      font-size: 50px;
      color: darkred;
      font-weight: bold;
      -webkit-text-stroke: 3px black;
    }

    .message{
      color: red;
    }
  </style>

</head>
<body>
<header>
  <h2 class="heading" style="margin-right: 1400px;">Movies</h2>
</header>


<div class="btn">
  <a href ="/">
    <button class="login">Go to Login Page</button>
  </a>
</div>

<div class="container" style="height:1000px;">

  <h1 class="header" style="align-items: center">Register</h1>

  <div class="form-section">

    <div class="signup-box"><br><br>

      <form name="form" id="form" method="post" action="/registerUser" onsubmit="return validateForm(this)">
        <p>
          <label for="username" style="margin-top: 300px;" >Username:</label>
          <input type="text" id="username" name="username"
                 placeholder="Enter username">
        <p class="message" th:text="${message}"></p>
        <span id="username-error" class="error-message"></span>
        </p>
        <p>
          <label for="displayName" >Display Name:</label>
          <input type="text" id="displayName" name="displayName"
                 placeholder="Enter display name">
        <p class="message" th:text="${message2}"></p>
        <span id="displayName-error" class="error-message"></span>
        </p>
        <p>
          <label for="email" >Email:</label>
          <input type="email" id="email" name="email"
                 placeholder="Enter email">
        <p class="message" th:text="${message3}"></p>
        <span id="email-error" class="error-message"></span>
        </p>
        <p>
          <label for="password" >Password:</label>
          <input type="password" id="password" name="password"
                 placeholder="Enter password" >
        <p class="message" th:text="${message4}"></p>
        <span id="password-error" class="error-message"></span>
        </p>
        <p>
          <label for="password2" >Confirm Password:</label>
          <input type="password" id="password2" name="password2"
                 placeholder="Confirm password">
        <p class="message" th:text="${message5}"></p>
        <span id="password2-error" class="error-message"></span>
        </p>
        <p>
          <label for="address" >Address:</label>
          <input type="text" id="address" name="address"
                 placeholder="Enter your Address">
        <p class="message" th:text="${message6}"></p>
        <span id="address-error" class="error-message"></span>
        </p>
        <p>
          <label for="dateOfBirth" >Date Of Birth:</label>
          <input type="datetime-local" id="dateOfBirth" name="dateOfBirth"
                 placeholder="Enter your date of birth">
        <p class="message" th:text="${message7}"></p>
        <span id="dateOfBirth-error" class="error-message"></span>
        </p>
        <div class="wrap">
          <button type="submit" value="Submit">
            Sign up
          </button>
        </div>
      </form>

    </div>

  </div>

</div>

<script>
  function validateForm(form) {



    username = form.username.value;
    password = form.password.value;
    password2 = form.password2.value;
    email = form.email.value;
    address = form.address.value;
    displayName = form.displayName.value;
    dateOfBirth = form.dateOfBirth.value;


    const usernameRegex = /^[a-zA-Z]{3,25}$/;
    const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{7,70}$/;
    const displayNameRegex = /^[a-zA-Z0-9]{3,25}$/;

    if (username === ""){
      alert("Username is left empty, try register again");
    }
    else if (!usernameRegex.test(username)){
      alert("Username must be between 3-25 characters, try register again");
    }
    else if(displayName === ""){
      alert("Display Name was left empty, try register again");
    }
    else if(!displayNameRegex.test(displayName)){
      alert("Display Name has to be between 3-25 characters, try register again");
    }
    else if (email === ""){
      alert("Email was left empty, try register again")
    }
    else if(password === ""){
      alert("Password was left empty, try register again")
    }
    else if (!passwordRegex.test(password)){
      alert("Please enter a password with at least 7 characters and maximum 70 characters, one uppercase letter, one lowercase letter, one number and one special character, try register again")
    }
    else if (password2 === ""){
      alert("Confirm Password was left empty, try register again")
    }
    else if (password != password2){
      alert("Password did not match, try register again")
    }
    else if (address === ""){
      alert("Address was left empty, try register again")
    }
    else if (dateOfBirth === ""){
      alert("Date Of Birth was left empty, try register again")
    }
    else{
      alert("Registration form complete, lets see if you are successfully registered")
      return true;
    }

  }


</script>


</body>
</html>