<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width,
                         initial-scale=1.0">
  <title>Movies</title>
  <link rel="stylesheet" href="/css/style.css" />

  <style>
    .error-message {
      color: red;
      font-size: 14px;
      margin-top: 5px;
    }

    .message{
      color: red;
    }

  </style>
</head>

<body>
<header>
  <h1 class="heading">Movies</h1>
  <h3 class="title">Login & Registration</h3>
</header>


<script>

</script>

<!-- container div -->
<div class="container" style="height:700px;">

  <!-- upper button section to select
       the login or signup form -->
  <div class="slider"></div>
  <div class="btn">
    <button class="login">Login</button>
    <button class="signup">Signup</button>
  </div>

  <!-- Form section that contains the
       login and the signup form -->
  <div class="form-section">

    <!-- login form -->
    <div class="login-box">
      <form id="form2" name="form2" method="post" action="/login" onsubmit="return validateLogin()">

        <div id="message" class="message" th:text="${message}"></div>

        <p>
        <label for="username1"></label><br><br>
      <input type="text"
             id="username1"
             name="username1"
             class="email ele"
             placeholder="Enter your username">
          <span id="username1-error" class="error-message"></span><br><br>
        </p>
        <p>
        <label for="password1" ></label>
      <input type="password"
             id="password1"
             name="password1"
             class="password ele"
             placeholder="Enter password">
          <span id="password1-error" class="error-message"></span><br><br>
        </p>
      <button class="clkbtn" id="login">Login</button>
      </form>
    </div>

    <!-- signup form -->
    <div class="signup-box" >
      <form id="form" method="post" action="/registerUser"  onsubmit="return validateForm()">
        <label for="username" ></label><br><br>
      <input type="text"
             id="username"
             name="username"
             class="name ele"
             placeholder="Enter your name" required><br><br>
        <label for="email" ></label>
      <input type="email"
             id="email"
             name="email"
             class="email ele"
             placeholder="youremail@email.com" required><br><br>
        <p>
        <label for="password" ></label>
      <input type="password"
             id="password"
             name="password"
             class="password ele"
             placeholder="Enter password" >
          <span id="password-error" class="error-message"></span><br><br>
        </p>
        <p>
        <label for="password2" ></label>
      <input type="password"
             id="password2"
             name="password2"
             class="password ele"
             placeholder="Confirm password">
          <span id="password2-error" class="error-message"></span><br><br>
        </p>
        <label for="address" ></label>
      <input type="text"
             id="address"
             name="address"
             class="name ele"
             placeholder="Enter your Address" required><br><br>
        <button class="clkbtn" type="submit" value="Submit">Sign Up</button>
      </form>
    </div>


  </div>
</div>

<script>
  let signup = document.querySelector(".signup");
  let login = document.querySelector(".login");
  let slider = document.querySelector(".slider");
  let formSection = document.querySelector(".form-section");

  signup.addEventListener("click", () => {
    slider.classList.add("moveslider");
    formSection.classList.add("form-section-move");
  });

  login.addEventListener("click", () => {
    slider.classList.remove("moveslider");
    formSection.classList.remove("form-section-move");
  });

  function validateLogin(){

    const username1 = document.getElementById("username1").value;
    const password1 = document.getElementById("password1").value;

    const username1Err = document.getElementById("username1-error");
    const passwordErr1 = document.getElementById("password1-error");

    username1Err.textContent = "";
    passwordErr1.textContent = "";

    let isValid = true;
    if(username1 === ""){
      username1Err.textContent = "Please enter a valid username";
      isValid = false
    }
    if (password1 === ""){
      passwordErr1.textContent = "Password must be between 7 and 30 characters";
    }

    if (isValid){
      return true;
    }else{
      return false;
    }
  }

</script>

<script>


function validateForm() {

  //const name = document.getElementById('username').value;
  const password = document.getElementById("password").value;
  const password2 = document.getElementById("password2").value;


  //const nameErr = document.getElementById("name-error");
  const passwordErr = document.getElementById("password-error");
  const passwordErr2 = document.getElementById("password2-error");

 // nameErr.textContent = "";
  passwordErr.textContent = "";
  passwordErr2.textContent = "";

 // let isValid = true;

  if (password.length < 7){
    passwordErr.textContent = "Please enter a password with at least 7 characters";
    return false;
   // isValid = false;
  }

  else if (password.length >= 30){
    passwordErr.textContent = "Password must be less than 30 characters.";
    return false
   // isValid = false;
  }

 else if (password != password2){

    passwordErr2.textContent = "Password did not match: Please try again...";
    return false;
   // isValid = false;
  }

  else{
    alert("Register Successful")
    return true;
  }


 // const orm = require('orm'); const db = orm.connect('mysql://localhost/software_project');  db.query('SELECT * FROM users where username = ?', (err, rows) => {   if (err) throw err;   console.log(rows); }).end();
}



function resetErrors(){

  document.getElementById("name-error").textContent = "";
}

///




</script>


<script src="/templates/js/index.js"></script>
</body>
</html>